.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.header {
    width: 100%;
    height: 80px;
    border: 1px solid black;
    margin-bottom: 10px;
    display: grid;
    align-content: center;
    justify-content: center;

}

.header__title {
    font-weight: 600;
    font-size: large;

}
.nav {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    display: grid;
    align-content: center;
    justify-content: center;
    margin-bottom: 10px;
}

.nav__title {
    font-weight: 600;
    font-size: large;
}
.main {
    width: 100%;
    grid-template-columns:4fr 1fr;
    grid-column-gap: 10px;
    display: grid;
    height: 500px;
    margin-bottom: 10px;
}

.content {
    width: 100%;
    border: 1px solid black;
    display: grid;
    align-content: center;
    justify-content: center;

}

.content__title {
    font-weight: 600;
        font-size: large;
}

.aside {
    border: 1px solid black;
    width: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
}

.aside__title {
    font-weight: 600;
    font-size: large;
}
.footer {
    height: 80px;
    width: 100%;
    border: 1px solid black;
    display: grid;
    align-content: center;
    justify-content: center;
}

.footer__title {
    font-weight: 600;
    font-size: large;
}