.position{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.square {
    border-radius: 8px;
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: square;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes square {
    0% {
        background-color: red;
        transform: rotate(0deg);
    }

    50% {
        background-color: orange;
        transform: rotate(180deg);
    }

    100% {
        background-color: green;
        transform: rotate(360deg);
    }
}